{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Homepage ({{ homepage_identifier }})
{% for service in homepage_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in homepage_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ homepage_container_cleanup_command | trim | replace("\n", " ") }}'

{#
  Homepage runs as root by default so it can access the Docker socket.
#}
{#
If a UNIX socket is used, we need to keep capabilities, because:
- we won't be able to access the socket (owned by root:docker on most distros)
- we won't be able to access the /config files (unless we add another capability that lets root access other users' files)

If a non-UNIX-socket endpoint is used, we can drop capabilities, because:
- reading through the remote (TCP) endpoint does not require special privileges
- the configuration files are owned by the same uid/gid, so reading them works
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ homepage_identifier }} \
      --log-driver=none \
      {% if not homepage_docker_endpoint_is_unix_socket %}
      --cap-drop=ALL \
      --cap-add=CAP_DAC_OVERRIDE \
      --cap-add=CHOWN \
      --cap-add=NET_BIND_SERVICE \
      --cap-add=SETGID \
      --cap-add=SETUID \
      {% endif %}
      --network={{ homepage_container_network }} \
      {% if homepage_container_http_host_bind_port %}
      -p {{ homepage_container_http_host_bind_port }}:{{ homepage_container_http_port }} \
      {% endif %}
      --env-file={{ homepage_base_path }}/env \
      --label-file={{ homepage_base_path }}/labels \
      --mount type=bind,src={{ homepage_data_path }},dst=/app/config \
      {% if homepage_docker_endpoint_is_unix_socket %}
      --mount type=bind,src={{ homepage_docker_endpoint | replace('unix://', '') }},dst=/var/run/docker.sock,ro \
      {% endif %}
      {% for volume in homepage_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
      {% endfor %}
      {% for arg in homepage_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ homepage_container_image_self_build_name if homepage_container_image_self_build else homepage_container_image }}

{% for network in homepage_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ homepage_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ homepage_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ homepage_container_stop_grace_time_seconds }} {{ homepage_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ homepage_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ homepage_identifier }}

[Install]
WantedBy=multi-user.target